html {
   width: 1024px;
   height: 768px;
   font-family: 'Roboto', sans-serif;
   border: 1px solid #CCC;
   margin: 0 auto;
}
form {
   background-color: #F7F5F9;
   Width: 492px;
   Height: 401px;
   border: 1px solid #FFFFFF;
   border-radius: 12px;
   margin: 31px 271px 345px 272px;
}
input[type=text], input[type=email]{
   margin: 0 40px 25px 40px ;
   width: 401px;
   height: 48px;
   color: #D0C9D6;
   border: 1px solid #FFFFFF;
   font-size: 15px;
   border-radius: 6px;
   line-height: 20px;
}
button[type=submit]{
   background-color: #6979F8;
   width: 412px;
   height: 48px;
   color: #FFFFFF;
   font-size: 17px;
   line-height: 22px;
   margin: 0 40px 25px 40px ;
   border-radius: 6px;
}
p {
   line-width: 168px;
   height: 20px;
   font-size: 24px;
   line-height: 20px;
   margin: 40px 40px 25px 40px ;
   font-weight: 700;
}
*:focus{
   border-width: 0px;
   box-shadow: 0 0 1px 1px #854FC8; 
   outline: none;
}
input:hover{
   border-color: #854FC8;
}
button:hover{
   border-color: #854FC8;
}
input::placeholder{
   padding: 0 0 0 10px;
}
